# AWS RDS PostgreSQL Configuration
DB_HOST=database-1.c8fui4oca2gt.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=k6RPNnWq5csxG0dQDpvI

# JWT Configuration
JWT_SECRET=mySecretKey123456789012345678901234567890

# Spring Profile
SPRING_PROFILES_ACTIVE=prod
